<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Añadir Nota</title>
    </head>

    <body>
        <h2>Notas</h2>

        <form method="GET" action="{% url 'inicio' %}">
            <label for="id_prioridad">Prioridad:</label>
            <select id="id_prioridad" name="get_prioridad">
                <option value="alta">Alta</option>
                <option value="normal">Normal</option>
                <option value="baja">Baja</option>
            </select>
            <input type="submit" value="filtrar">
        </form><br>

        {% for nota in notas %}
        <fieldset>
            <legend><span style="text-transform: uppercase;">{{ nota.prioridad }}</span> - <strong><u>{{ nota.titulo }}</u></strong></legend>
            <span>{{ nota.contenido }} </span><br>
        </fieldset><br>
        {% endfor %}

        <hr><br>

        <form action="/insert/" method="POST">
            <fieldset>
                <legend><strong>AÑADIR NOTA</strong></legend><br>

                {% csrf_token %}

                <label for="prioridad">Prioridad:</label>
                <select name="prioridad" id="prioridad">
                    <option value="alta">Alta</option>
                    <option value="normal">Normal</option>
                    <option value="baja">Baja</option>
                </select><br><br>

                <label>
                    <input type="text" name="subject" placeholder="Título">
                </label><br>

                <label for="id_new_item"></label>
                <textarea name="msg" id="id_new_item" cols="32" rows="10"
                          placeholder="Introduce tu nota aquí..."></textarea><br><br>

                <input type="submit">
            </fieldset>
        </form>

    </body>

</html>